<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>{{ business.business_name }}</title>
    </head>
    <body class="bg-gray-100 flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-lg max-w-4xl w-full">
            <div class="flex justify-between items-center mb-6">
                <a
                    href="{{ url_for('home') }}"
                    class="bg-gray-300 text-black px-4 py-2 rounded inline-block"
                >
                    Back
                </a>

                <form
                    method="POST"
                    action="{{ url_for('toggle_pin', business_id=business.business_id) }}"
                >
                    <button
                        type="submit"
                        class="{% if business.is_pinned %}bg-red-500{% else %}bg-blue-500{% endif %} text-white px-4 py-2 rounded"
                    >
                        {{ 'Unpin' if business.is_pinned else 'Pin' }}
                    </button>
                </form>
            </div>

            <h1 class="text-3xl font-bold mb-4 text-center">
                {{ business.business_name }}
            </h1>
            <div class="text-center mb-6">
                <p class="text-lg">
                    <strong>Address:</strong> {{ business.street }}, {{
                    business.zipcode }}
                </p>
                <p class="text-lg">
                    <strong>Cuisine:</strong> {{ business.cuisine }}
                </p>
                <p class="text-lg">
                    <strong>Borough:</strong> {{ business.boro }}
                </p>
            </div>

            <div
                class="flex flex-col md:flex-row mt-8 space-y-8 md:space-y-0 md:space-x-8"
            >
                <div class="md:w-1/2">
                    <h2 class="text-xl font-semibold mb-2">Inspections</h2>
                    <table class="min-w-full bg-white border">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="py-2 px-4 border-b">Date</th>
                                <th class="py-2 px-4 border-b">Grade</th>
                                <th class="py-2 px-4 border-b">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inspection in inspections %}
                            <tr class="bg-gray-50">
                                <td class="py-2 px-4 border-b">
                                    {{ inspection.inspection_date }}
                                </td>
                                <td class="py-2 px-4 border-b">
                                    {{ inspection.grade }}
                                </td>
                                <td class="py-2 px-4 border-b">
                                    {{ inspection.inspection_type }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h2 class="text-xl font-semibold mt-6 mb-2">Violations</h2>
                    <table class="min-w-full bg-white border">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="py-2 px-4 border-b">Description</th>
                                <th class="py-2 px-4 border-b">Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for violation in violations %}
                            <tr class="bg-gray-50">
                                <td class="py-2 px-4 border-b">
                                    {{ violation.description }}
                                </td>
                                <td class="py-2 px-4 border-b">
                                    {{ violation.code }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="md:w-1/2">
                    <h2 class="text-xl font-semibold mb-2">Comments</h2>
                    <div class="max-h-96 overflow-y-auto mb-4">
                        <ul class="space-y-4">
                            {% for comment in comments %}
                            <li class="bg-gray-50 p-4 rounded-lg shadow">
                                <p class="font-semibold">{{ comment.title }}</p>
                                <p class="text-gray-700">
                                    {{ comment.message }}
                                </p>
                                <p class="text-sm text-gray-500">
                                    By {{ comment.first_name }} - Rating: {{
                                    comment.rating }} - Posted on: {{
                                    comment.comment_date }}
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <form
                        method="POST"
                        action="{{ url_for('submit_comment', business_id=business.business_id) }}"
                        class="mt-4"
                    >
                        <input
                            type="text"
                            name="title"
                            class="w-full mt-2 p-2 border rounded"
                            placeholder="Title"
                            required
                        />
                        <textarea
                            name="message"
                            class="w-full mt-2 p-2 border rounded"
                            placeholder="Add a comment"
                            required
                        ></textarea>
                        <input
                            type="number"
                            name="rating"
                            min="1"
                            max="5"
                            class="w-full mt-2 p-2 border rounded"
                            placeholder="Rating (1-5)"
                            required
                        />
                        <button
                            type="submit"
                            class="bg-blue-500 text-white px-4 py-2 mt-2 rounded"
                        >
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
